*{
    margin: 0;
    padding:0
}
html,body{
    width: 100%;
    height:100%;
    overflow: hidden;
    font-family: KaiTi ;
}
#main{
    width: 640px;
    height: 960px;
    overflow: hidden;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin:top;
    transform-origin: top;
}
#list{height: 100%}
#list li{
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
}
#list li.zIndex{
    z-index: 5;
}
#list li:nth-child(1){
    background-image:url(../image/beijing.png) ;
}
#list li:nth-child(2){
    background-image:url(../image/beijing.png) ;
}
#list li:nth-child(3){
    background-image:url(../image/beijing.png) ;
}
#list li:nth-child(4){
    background-image:url(../image/beijing.png) ;
}
#list li:nth-child(5){
    background-image:url(../image/beijing.png) ;
}
.a1 {
    position: absolute;
    top: 25%;
    width: 100%;
}
.a1 div{
    position: absolute;
    width: 235px;
    height: 235px;
    left: 50%;
    margin-left: -116px;
    background-image: url(../image/jianli.png);
    border: 2px solid #999;
}
#b1{
    position: absolute;
    width: 280px;
    height: 140px;
    top: 65%;
    left: 50%;
    margin-left: -140px;
}
#b1 p{
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    color: gold;
    font-family: KaiTi ;
}
#b1 #p1{
    float: left;
    margin-top: 10px;
}
#b1 #p2{
    float: right;
    margin-top: 20px;
}

/*方法一:动态的添加或者删除类名(id名)来控制动画效果
  方法二:如果是写的animation动画,可以通过设置animation-play-state值是paused停止,是running是播放
*/

.a2 #b2{
    position: absolute;
    top: 70px;
    width: 256px;
    height: 256px;
    left: 50%;
    margin-left: -128px;
    background-image: url(../image/shanzi.png);
}
.a2 #b3{
    position: absolute;
    top: 265px;
    height: 100%;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    background-image: url(../image/shugang.png);
}
#a2 #b4{
    position: absolute;
    top: 480px;
    height: 89px;
    width: 74px;
    left: 49%;
    margin-left: -37px;
    background-image: url(../image/dayuan.png);

}
.a2 #b5{
    position: absolute;
    top: 735px;
    height: 89px;
    width: 76px;
    left: 49%;
    margin-left: -38px;
    background-image: url(../image/xiaoyuan.png);

}
.a2 #b6{
    position: absolute;
    top: 450px;
    left: 52%;
    text-align: center;
}
.a2 #b7{
    position: absolute;
    top: 755px;
    left: 20%;
}
.a2 p{
    font-size: 35px;
    font-family: KaiTi ;
}

.a3 #c1, .a4 #d1{
    position: absolute;
   height: 1080px;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    background-image: url(../image/shugang2.png);
}
.a3 #c2{
    position: absolute;
    width: 154px;
    height: 152px;
    left: 50%;
    margin-left: -75px;
    top: 100px;
    background-image: url(../image/jianjie.jpg);
}
.a3 #c3, .a4 #d3{
    position: absolute;
    top: 463px;
    height: 89px;
    width: 74px;
    left: 50%;
    margin-left: -37px;
    background-image: url(../image/xiaoyuan.png);

}
.a3 #c4, .a4 #d4{
    position: absolute;
    top: 720px;
    height: 89px;
    width: 76px;
    left: 50%;
    margin-left: -38px;
    background-image: url(../image/dayuan.png);

}
.a3 .c5{
    position: absolute;
    width: 240px;
    height: 200px;
    top: 350px;
    left: 54%;
}
.c5 p{
    height: 50px;
    line-height: 50px;
    font-family: KaiTi ;
    font-size: 28px;
    font-weight: 900;
}
.a3 #c6{
    position: absolute;
    width: 128px;
    height: 128px;
    top: 680px;
    left: 20%;
    background-image: url(../image/zhibi.png);
}
#a3{
    -webkit-transform: rotateY(720deg);
    transform: rotateY(720deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


#a4 #d2{
    position: absolute;
    width: 154px;
    height: 152px;
    left: 50%;
    margin-left: -75px;
    top: 100px;
    background-image: url(../image/techang.jpg);
}
#a4 #d5{
    position: absolute;
    width: 240px;
    height: 200px;
    top: 420px;
    left: 60%;
}
#d5,.d6 h2{
    font-size: 40px;
}
#d5,.d6 p{
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 30px;
    font-weight: 900;
}
.a4 .d6{
    position: absolute;
    width: 240px;
    height: 200px;
    top: 630px;
    left: 25%;
}
.a4 #d7{
    position: absolute;
    width: 128px;
    height: 128px;
    top: 760px;
    left: 65%;
    background-image: url(../image/biyan.png);
}
.a4 .d6{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.a4 .d6{
    -webkit-transition: 1s;
    transition: 1s;

}